* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.container {
  background-color: rgb(212, 212, 212);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.imagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: white;
  height: 150px;
}